.attendance {
    border: 1px solid #031f2f;
    border-radius: 5px;
    background-color: #eff4f7;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor */
    align-items: center; /* Alinea verticalmente los elementos al centro */
    gap: 20px; /* Espacio entre los elementos */
    margin: 10px 10px; /* Reduce el margen lateral */
    padding: 12px;
}

.attendance p {
    flex: 1; /* Para que cada elemento p ocupe el mismo espacio proporcional */
    margin: 5px 0; /* Remueve márgenes por defecto */
    min-width: 100px; /* Para asegurar que los textos no se colapsen */
}

.attendance label {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.attendance input[type="checkbox"] {
    margin-left: 5px;
}






